<div class="container">
  <h1>Enter a new Tweet!</h1>
  
  <form class="tweet_form" action="/" method="POST">
    <input class="tweet_text" type="text" name="tweet"/>
    <input class="submit_button" type="submit" value="Tweet It!"/>
   
    
  </form> 
 <p id="tweet_info"></p>
 <a href="/">Create a new tweet!</a>
</div>

